<%= form_for @ad, :url => ad_path, :html => { :multipart => true } do |f| %>
  <% if @ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

      <ul>
      <% @ad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :closed %><br />
    <%= f.number_field :closed %>
  </div>
  <div class="field">
	<%= f.file_field :thumbnail %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :final_eval %><br />
    <%= f.number_field :final_eval %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :section %><br />
    <%= f.number_field :section_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
