<%= javascript_include_tag "dashboard" %>

<%= javascript_tag do -%>
	$(document).ready(function() {
	$(".fe_ad_clickable").click(function() {
		var id = $(this).data("id");
		window.location.href="<%= ads_path %>/" + id;
	});
});
<% end %>

<% content_for :title, 'dashboard' %>

<div class="dashboard_search">
  <%= form_tag dashboard_ads_path, {:method => :get, :id => "fe_ad_search", :class => "fe_ad_search"} do %>
    <%= text_field_tag "search_terms", @search_terms, :id => "search_text_field" %>
    <!--TODO filter records by section -->
    <!--<ul type="none" margin="0px">
      <% @sections.each do |section| %>
      <li>
	<%= check_box_tag "#{:section}_#{section.id}", section.id, checked?(section.id)%><%= section.name %>
      </li>
      <% end %>
    </ul>-->
    <%= javascript_tag do -%>
      var ajaxSearchUrl = "<%= url_for :action => 'update_search' %>";
    <% end -%>

    <%= submit_tag "Go", :id => 'search_button' %>
  <% end -%>
</div><!--end dashboard search div -->
<div id="dashboard_fe_ad_container" class="dashboard_fe_ad_container">
  <%= render :partial => 'ad', :collection => @ads, :locals => { :user_id => @user_id } %>
  <br style="clear:both" />
</div>
