<%= javascript_include_tag "dashboard" %>

<%= javascript_tag do -%>
	$(document).ready(function() {
	$(".fe_ad_clickable").click(function() {
		var id = $(this).data("id");
		window.location.href="<%= ads_path %>/" + id;
	});
});
<% end %>

<% content_for :title, 'dashboard' %>

<div class="dashboard_search">
<div class="dashboard_search_container">
	
  <%= form_tag dashboard_ads_path, {:method => :get, :id => "fe_ad_search", :class => "fe_ad_search"} do %>
    <%= text_field_tag "search_terms", @search_terms, :id => "search_text_field" %>
    <%= javascript_tag do -%>
      var ajaxSearchUrl = "<%= url_for :action => 'update_search', :section_id => @section_id %>";
    <% end -%>
	<%= hidden_field_tag 'section_id', @section_id %>

    <%= submit_tag "Go", :id => 'search_button' %>
	<div class="dashboard_sections">
		<% @sections.each do |section| %>
			<div id="section_tab_<%= section.id %>" class="dashboard_section_tab" 
				 data-action="<%= url_for :action => 'update_section', :id => section.id %>">
				<%= section.name %>
			</div>
		<% end -%>
	</div>
  <% end -%>
</div><!--end dashboard search div -->
</div>
<div id="dashboard_fe_ad_container" class="dashboard_fe_ad_container">
  <% if @ads.empty? %>
	<p><%=t 'no_ads_found' %></p>
  <% end %>
  <%= render :partial => 'ad', :collection => @ads, :locals => { :user_id => @user_id } %>
  <br style="clear:both" />
</div>