<%= javascript_include_tag 'jquery.prettyPhoto' %>
<%= stylesheet_link_tag 'prettyPhoto/prettyPhoto' %>

<%= javascript_include_tag 'jquery.tools.min' %>
<%= stylesheet_link_tag 'scrollable-horizontal' %>
<%= stylesheet_link_tag 'scrollable-buttons' %>

<%= javascript_include_tag 'jquery.raty.min' %>


<%= javascript_tag do -%>
    $(document).ready(function() {
        $("a[rel^='prettyPhoto']").prettyPhoto({
		    theme: 'facebook',
		    social_tools: '',
		    show_title: false,
		    allow_resize: false});
		    
	    $(".scrollable").scrollable();
        <% if @user %>
	        $('#rating').raty({
	          start: <%= @ad.user_rating(@user.id) ? @ad.user_rating(@user.id) : 0 %>,
	          path: "../assets/raty/",
	          click: function(score, evt) {
		        $.post('<%= rate_ad_path(@ad.id) %>', { id: <%= @ad.id %>, rating: score  }, function(data) {
		        });
	          }
	        });
        <% end %>
    });
<% end %>
<% content_for :title, @ad.title %>

<div class="fe_ad_show_container">
	<div class="fe_ad_presentation_container">
		<div class="fe_ad_title_container">
			<div class="fe_ad_show_title"><%= @ad.title %></div>
			<%= link_to ".." + @ad.thumbnail.url, { :rel => 'prettyPhoto[pp_gal]', :title => 'Test' } do 
				image_tag @ad.thumbnail.url(:medium)
			end %>
			<% if not @ad.gallery.empty? %>
				<div class="fe_ad_gallery">
					<!-- "previous page" action -->
					<a class="prev browse left"></a>

					<!-- root element for scrollable -->
					<div class="scrollable">   

					   <!-- root element for the items -->
						<div class="items">
							<div>
						    	<% @ad.gallery.each_with_index do |res, i| %>
									<%= link_to ".." + res.link.url, { :rel => 'prettyPhoto[pp_gal]', :title => res.description, :class => 'fe_ad_gallery_item' } do 
										image_tag res.link.url(:gallery)
								  	end %>
									<% if not i == 0 and (i+1) % 4 == 0 %>
										</div>
										<div>
									<% end %>
								<% end -%>
							</div>
						</div>

					</div>

					<!-- "next page" action -->
					<a class="next browse right"></a>				
				</div>
			<% end %>
		</div>
		<div class="fe_ad_highlights">
			<p>
				<% if @user != nil && @ad.user_id == @user.id %>
				    <%= link_to I18n.t('edit'), edit_ad_path(@ad) %>
				<% end %>
			</p>
			<p>
				<span class="label">Author: </span> <a href="<%= user_path @ad.user %>"><%= @ad.user.username %></a>
			</p>
			<p>	
				<span class="label">Date: </span> <%= date_format @ad.created_at %>
			</p>
			<p>
				<span class="label">Keywords: </span> <% @ad.ad_tags.each do |t|%>
				<%= if t != @ad.ad_tags.last then t.tag+", " else t.tag end%>
				<% end %>
			</p>
			<div class="fe_ad_share_fb">
				<a name="fb_share" type="box_count" share_url= "<%=request.url%>"> Share </a> 
				<script type="text/javascript" src="http://static.ak.fbcdn.net/connect.php/js/FB.Share"> </script>
			</div>
			<div class="fe_ad_share_tweet">
				<a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical">Tweet</a>
				<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
			</div>
			
			<div id="rating"></div>
			
			<p>
				<span class="label"> Average rating: </span>
				<span id="average_rating"> <%= @ad.average_rate != nil ? @ad.average_rate.round(1) : I18n.t('ad.not_yet_rated') %> </span>
			</p>
			
		</div>
	</div>
	<div class="fe_ad_show_description">
	  <div class="label">Description:</div>
	  <p><%= @ad.description %></p>
	</div>
	
	<%#--------------- comments --------------%>

	<div class="fe_ad_comments">
	  <div class="label">Comments:</div>
	  <% @ad.comments.each do |c| %>
		<p><span class="label"> <a style="text-decoration:none" href="<%= user_path c.user %>"><%= c.user.username %></a> </span><%= c.content  %>
		<span class="label_date"> <%= date_format c.created_at %> </span>
		<% if @user && (@user.id == c.user.id || @user.admin) %>
			<td><%= link_to  I18n.t('delete'), c, confirm: I18n.t('confirm_delete'), method: :delete %></td>
		<% end%>
		</p>
	  <% end %>
		<% if @user %>
		    <%= form_for(Comment.new) do %>
	           	<%= text_area :comment, :content, :class => 'fe_ad_comment_textarea', :placeholder => "Comentar" %>
	            <%= hidden_field :comment, :ad_id, {:value => @ad.id} %>

	            <%= submit_tag(I18n.t('new_comment'), :class => 'fe_ad_comment_submit')  %>
			<% end %>
	    <% end %>
	</div>	
    
</div>



