<% if notice %>
	<%= javascript_tag "$.jGrowl(\"" + notice + "\")" %>
<% end -%>

<div id="ad_show_container">
	<h1><%= @ad.title %></h1>
	<div id="ad_presentation_container">
		<div class="ad_show_thumbnail">
			<%= image_tag @ad.thumbnail.url(:medium) %>
		</div>
		<div class="ad_highlights">
			<p>
				<span class="label">Posted by:</span> <a href="<%= user_path @ad.user %>"><%= @ad.user.username %></a>
			</p>
			<p>	
				<span class="label">Posted in:</span> <%= @ad.created_at %>
			</p>	
			<p>
				<span class="label">Evaluation</span>
			</p>
			<p>
				<span class="label">Tags</span>
			</p>
		</div>
	</div>
	<div class="ad_show_description">
	  <div class="label">Description:</div>
	  <p><%= @ad.description %></p>
	</div>

	<%= link_to 'Edit', edit_ad_path(@ad) %> |
	<%= link_to 'Back', ads_path %>
	
	<a name="fb_share" type="box_count" share_url= "http://10.0.0.101:3000/ads/3" > Share </a> 
	<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"> </script>
	
</div>