<%= javascript_include_tag 'jquery.prettyPhoto' %>
<%= stylesheet_link_tag 'prettyPhoto/prettyPhoto' %>

<%= javascript_include_tag 'jquery.tools.min' %>
<%= stylesheet_link_tag 'scrollable-horizontal' %>
<%= stylesheet_link_tag 'scrollable-buttons' %>

<%= javascript_include_tag 'jquery.raty.min' %>


<%= javascript_tag do -%>
    $(document).ready(function() {
        $("a[rel^='prettyPhoto']").prettyPhoto({
		    theme: 'facebook',
		    social_tools: '',
		    show_title: false,
		    allow_resize: false});
		    
	    $(".scrollable").scrollable();
        <% if @user %>
	        $('#rating').raty({
	          start: <%= @ad.user_rating(@user.id) ? @ad.user_rating(@user.id) : 0 %>,
	          path: "../assets/raty/",
	          click: function(score, evt) {
		        $.post('<%= rate_ad_path(@ad.id) %>', { id: <%= @ad.id %>, rating: score  }, function(data) {
		        });
	          }
	        });

	  //Close User's Ad
	  <% if @user.id == @ad.user_id %>
		$( '.close_ad' ).click(function() {
				$( "#close_ad" ).dialog( "open" );
		});
		$('#close_ad').dialog({
			autoOpen: false,
			height: 160,
			width: 200,
			modal: true
		});
	  <% end %>
	  //User's login Autocomplete
	  $(function() {
		$( "#partner" ).autocomplete({
			source: '<%= auto_complete_users_path %>',
			minLength: 2
		});
	});


	  $('.fe_comment_report_action').click(function() {
	    var id = $(this).data("id");
	    $("#comment_id").val(id);
	    $("#report_dialog").dialog("open");
	    return false; 
	  });

        <% end %>
    $("#report_dialog").dialog({ 
        autoOpen: false,
        buttons: { "<%=t 'report' %>": function() { 
            $("#new_report").submit();
            $(this).dialog("close"); 
            return false;
            } },
        width: 400,
        title: "<%=t 'report' %>"
        });


		
		$('#fe_ad_comment_textarea').autoResize({
			minHeight: 36,
			maxHeight: 200,
			extraSpace: 18
		});
	
    });

	
	function submitenter(myfield,e)
	{
	var keycode;
	if (window.event) keycode = window.event.keyCode;
	else if (e) keycode = e.which;
	else return true;

	if (keycode == 13 && !event.shiftKey)
	   {
	   myfield.form.submit();
	   return false;
	   }
	else
	   return true;
	}


	
<% end %>
<% content_for :title, @ad.title %>

<div class="fe_ad_show_container">
	<div class="fe_ad_presentation_container">
		<div class="fe_ad_title_container">
			<div class="fe_ad_show_title"><%= @ad.title %></div>
			<%= link_to ".." + @ad.thumbnail.url, { :rel => 'prettyPhoto[pp_gal]', :title => '' } do 
				image_tag @ad.thumbnail.url(:medium)
			end %>
			<% if not @ad.gallery.empty? %>
				<div class="fe_ad_gallery">
					<!-- "previous page" action -->
					<a class="prev browse left"></a>

					<!-- root element for scrollable -->
					<div class="scrollable">   

					   <!-- root element for the items -->
						<div class="items">
							<div>
						    	<% @ad.gallery.each_with_index do |res, i| %>
									<%= link_to ".." + res.link.url, { :rel => 'prettyPhoto[pp_gal]', :title => res.description, :class => 'fe_ad_gallery_item' } do 
										image_tag res.link.url(:gallery)
								  	end %>
									<% if not i == 0 and (i+1) % 4 == 0 %>
										</div>
										<div>
									<% end %>
								<% end -%>
							</div>
						</div>

					</div>

					<!-- "next page" action -->
					<a class="next browse right"></a>				
				</div>
			<% end %>
		</div>
		<div class="fe_ad_highlights">
			<p>
			    <% if @user %>
				<% if @user != nil && @ad.user_id == @user.id %>
				    <%= link_to I18n.t('edit'), edit_ad_path(@ad) %>
				<% end %>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<!--Close the Ad-->
				<% if @user.id == @ad.user_id and @ad.open? %> <!--TODO add check for open state--> 
				  <span class="close_ad" ><%=I18n.t('ad.close')%></p>
				  <div id="close_ad" title=<%= I18n.t('ad.close') %> >
				    <%= form_tag(close_ad_path(@ad)) do %>
				    <%= label :partner_lbl, I18n.t('ad.partner') %>
				    <p><%= text_field_tag :partner %></p>
				    <p><%= submit_tag I18n.t('ad.close') %></p>
				    <% end %>
				  </div>
				<% end %>
			    <% end %>
			</p>
			<p>
				<span class="label">Author: </span> <a href="<%= user_path @ad.user %>"><%= @ad.user.username %></a>
			</p>
			<p>	
				<span class="label">Date: </span> <abbr title="<%=l @ad.created_at %>"><%=t 'date_distance', :date => distance_of_time_in_words(@ad.created_at, Time.now) %></abbr>
			</p>
			<p id = "pdf_link">
				<span class="label">Keywords: </span> <% @ad.ad_tags.each do |t|%>
				<%= if t != @ad.ad_tags.last then t.tag+", " else t.tag end%>
				<% end %>
			</p>
			<div class="fe_ad_share_fb">
				<a name="fb_share" type="box_count" share_url= "<%=request.url%>"> Share </a> 
				<script type="text/javascript" src="http://static.ak.fbcdn.net/connect.php/js/FB.Share"> </script>
			</div>
			<div class="fe_ad_share_tweet">
				<a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical">Tweet</a>
				<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
			</div>
			
			<div id="rating"></div>
			
			<p>
				<span class="label"> Average rating: </span>
				<span id="average_rating"> <%= @ad.average_rate != nil ? @ad.average_rate.round(1) : I18n.t('ad.not_yet_rated') %> </span>
			</p>
			<div id="partner_info">
			  <% if not @ad.open?  %> <!--TODO add check for open state--> 
			    <%= label_tag I18n.t('ad.partner'), nil, :class => 'label' %> <%= link_to @ad.partner.username, user_path(@ad.partner) %>
			  <% end %>
			</div>
			
		</div>
	</div>
	<div class="fe_ad_show_description">
	  <div class="label">Description:</div>
	  <p><%= @ad.description %></p>
	</div>
	
	<p id="pdf_link"><%= link_to "Download Invoice (PDF)", ad_path(@ad, :format => "pdf") %></p>
	
	<%#--------------- Comentários --------------%>

	<div class="fe_ad_comments">
	  <div class="label">Comments:</div>
	  <% @ad.comments.each do |c| %>
		<p><span class="label"> <a style="text-decoration:none" href="<%= user_path c.user %>"><%= c.user.username %></a> </span><%= c.content  %>
		<abbr class="label_date" title="<%=l @ad.created_at %>"><%=t 'date_distance', :date => distance_of_time_in_words(c.created_at, Time.now) %></abbr> 
		<span class="fe_ad_comments_actions">
		<% if @user && (@user.id == c.user.id || @user.admin) %>
			<%= link_to  'x', c, confirm: I18n.t('confirm_delete'), method: :delete, :class => 'delete_comment_button' %>
		<% end %>
		<% if @user %>
		    <% if c.user_reported?(@user.id) %>
		        <span class="fe_ad_comments_action"> <%=t "already_reported" %> </span>
		    <% else %>
		        <%= link_to I18n.t('report'), { :controller => 'reports', :action => "new"}, { :id => "fe_comment_report_#{c.id}", :class => "fe_ad_comments_action fe_comment_report_action", "data-id" => c.id} %>
		    <% end %>
		<% end %>
		</span>
		</p>
	  <% end %>
		<% if @user %>
		    <%= form_for(Comment.new) do %>
	           	<%= text_area :comment, :content, :class => 'fe_ad_comment_textarea', :id => 'fe_ad_comment_textarea',  :placeholder => I18n.t('comment_placeholder'), :onKeyPress => 'return submitenter(this,event)' %>
	            <%= hidden_field :comment, :ad_id, {:value => @ad.id} %>

	          <%#  <%= submit_tag(I18n.t('new_comment'), :class => 'fe_ad_comment_submit')  %>
			<% end %>
	    <% end %>
	</div>	
    

</div>

<div id="report_dialog"> 
    <span class="label"><%=t 'comments.reason_label' %></span>
    <%= form_tag({:controller => "comments", :action => "report"}, :remote => true, :method => "post", :id => "new_report") do |f| %>
   	    <%= text_area_tag :reason, "", :size => "48x5" %>
   	    <%= hidden_field_tag :comment_id %>
   	<% end %>
</div>