<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @ad.title %>
</p>

<p>
  <b>Closed:</b>
  <%= @ad.closed %>
</p>

<p>
  <b>Thumbnail:</b>
  <%= image_tag @ad.thumbnail.url(:thumb) %>
</p>

<p>
  <b>Description:</b>
  <%= @ad.description %>
</p>

<p>
  <b>Final eval:</b>
  <%= @ad.final_eval %>
</p>

<p>
  <b>User:</b>
  <%= @ad.user %>
</p>

<p>
  <b>Section:</b>
  <%= @ad.section %>
</p>

<%=link_to image_tag("facebook.png",:size => "50x50"), share_with_facebook_url({ :url   => request.url,
                                                           :title => @ad.title,
                                                           :images => @ad.thumbnail.url(:thumb),
                                                           :summary => @ad.description}) %>

<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>
