<p id="notice"><%= notice %></p>

<p>
  <b>Mime type:</b>
  <%= @resource.mime_type %>
</p>

<p>
  <b>Link:</b>
  <%= @resource.link %>
</p>

<p>
  <b>Ad:</b>
  <%= @resource.ad %>
</p>


<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
