<!DOCTYPE html>
<html>
<head>
	
<title> <%=h yield(:title)%> :: Classificados FEUP</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery-ui-1.8.16.custom.min" %>
  <%= stylesheet_link_tag    "smoothness/jquery-ui-1.8.16.custom" %>
  <%= javascript_include_tag "jquery.jgrowl" %>
  <%= yield(:head) %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if notice %>
	<%= javascript_tag "$.jGrowl(\"" + notice + "\")" %>
<% end -%>

<div id="content">
  <%= render 'users/login' %>
  <%= yield %>
</div>
</body>
</html>
