<!DOCTYPE html>
<html>
<head>
  <title>Cfeup</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.jgrowl" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
